.skillcard {
    border: 1px solid rgb(59, 59, 59);
    border-radius: .3rem;
    width: 30vw;
    padding: 2vh 2vw 2vh 2vw;
}
.servicesection {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 800px) {
    .servicesection {
        flex-direction: column;
        gap: 3vh;
    }
    .skillcard{
        width: 95%;
        padding:2vh 1vw 2vh 3vw;
    }
}